.body {
	width: 100%;
	max-width: 1024px;
	min-width: 300px;
	margin: 0 auto;
	font-family: 'Scada', sans-serif;
	background: #ebebeb;
}

.body a {
	text-decoration: none;
}


@media screen and (min-width:0px) and (max-width:320px) {
/* Display 320px */

	.navigation {
		height: 37px;
		font-size: 12px;
	}

	.navigation .small {
		padding: 12px 10px 11px 19px;
		float: left;
	}

	.navigation .small_menu {
		padding: 13px 12px 10px 10px;
		float: right;
	}

	.navigation .small_menu img {
		width: 16px;
		height: 10px;
	}

	.navigation ul {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

	.content {
		font-size: 13.5pt;
	}

	.content h1, .content h2 {
		margin: 35px 30px 35px 40px;
		font-size: 19pt;
	}

	.content p {
		margin: 35px 30px 35px 40px;
		text-align: left;
		text-indent: 0;
	}

	.content > div {
		width: 100%;
	}

	.next_product {
		font-size: 13.5pt;
	}

	.content ul {
		margin: 35px 30px 35px 40px;
	}
}

@media screen and (min-width:321px) and (max-width:640px) {
 /*Display 640px */

	.navigation {
		height: 74px;
		font-size: 25px;
		font-weight: bold;
	}

	.navigation .small {
		padding: 25px 15px 20px 38px;
		float: left;
	}

	.navigation .small_menu {
		padding: 12px 12px;
		float: right;
	}
	
	.navigation .small_menu img {
		padding: 13px 12px 12px 10px;
		width: 31px;
		height: 20px;

	}

	.navigation ul {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

	.content {
		font-size: 22pt;
	}

	.content h1, .content h2 {
		margin: 35px 30px 35px 40px;
		font-size: 30pt;
	}

	.content p {
		margin: 35px 30px 35px 40px;
		text-align: left;
		text-indent: 0;
	}

	.content > div {
		width: 100%;
	}

	.next_product {
		font-size: 16pt;
	}

	.content ul {
		margin: 35px 30px 35px 40px;
	}
}

@media screen and (min-width:641px) and (max-width:980px) {
 /*Display 980px */

	.navigation {
		height: 97px;
	}

	.navigation .small, .navigation .small_menu {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.navigation ul {
		display: inline-block;
		padding: 0px 0px 0px 54px;
		vertical-align: middle;
	}

	.navigation ul li {
		padding: 3px 5px 3px 0px;
		display: inline-block;
		font-size: 15pt;
		text-transform: uppercase;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01, .image_03 {
		display: inline-block;
		width: 33%;
	}
	.image_02 {
		display: inline-block;
		width: 34%;
		vertical-align: top;
	}
	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

	.content {
		font-size: 14pt;
	}

	.content h1, .content h2 {
		margin: 35px 30px 35px 40px;
		font-size: 30pt;
	}

	.content p {
		margin: 35px 30px 35px 40px;
		text-indent: 0;
	}

	.content > div {
		width: 50%;
	}

	.next_product {
		font-size: 14pt;
	}

	.content ul {
		margin: 35px 30px 35px 40px;
	}
}

@media screen and (min-width:981px) {
 /*Display 1024px and later */

	.navigation {
		height: 97px;
	}

	.navigation .small, .navigation .small_menu {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.navigation ul {
		display: inline-block;
		padding: 0px 0px 0px 54px;
		vertical-align: middle;
	}

	.navigation ul li {
		padding: 3px 5px 3px 0px;
		display: inline-block;
		font-size: 15pt;
		text-transform: uppercase;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01, .image_03 {
		display: inline-block;
		width: 33%;
	}
	.image_02 {
		display: inline-block;
		width: 34%;
		vertical-align: top;
	}
	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

	.content {
		font-size: 14pt;
	}

	.content h1, .content h2 {
		margin: 35px 30px 35px 40px;
		font-size: 30pt;
	}

	.content p {
		margin: 35px 30px 35px 40px;
		text-indent: 0;
	}

	.content > div {
		width: 50%;
	}

	.next_product {
		font-size: 14pt;
	}

	.content ul {
		margin: 35px 30px 35px 40px;
	}
}


header {
	line-height: 0;
}
.navigation {
	display: inline-block;
	font-weight: bold;
	width: 100%;
	background: #373c3f;
	color: white;
	line-height: 1;
}

.navigation a {
	font-weight: bold;
	color: white;
	line-height: 1;
}

.navigation .nothing {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.banner_01, .banner_01 {
	width: 100%;
}


.content {
	line-height: 1;
}

.content h1 {
	color: #088ca5;
}

.content > div {
	display: inline-block;
	vertical-align: top;
}

.content > div > div {
	padding: 30px 30px;
}

.next_product a:visited, .next_product a:link {
	color: black;
}

.next_product a {
	display: inline-block;
	margin: 7px;
}

footer {
	padding: 10px 0px 20px 0px;
}


p {
	text-align: justify;
	text-indent: 1em;
}

footer p {
	padding: 5px 20px;
	text-align: right;
}

.buy_ship > section {
	overflow: hidden;
	padding: 5px;
	text-align: center;
}

.buy_left {
	float: left;
}

.buy_ship input[name='buy'] {
	width: 80px;
	height: 30px;
	border-radius: 5px;
}

.buy_ship input[name='buy']:hover {
	background: #d0f3ce;
	border-radius: 7px;
}

.buy_ship input[name='buy']:active {
	background: #8ee088;
	border-radius: 10px;
}

.buy_ship p {
	margin: 2px;
}

.border_img {
	text-align: center;
}

.border_img img {
	border-style: groove;
	border-color: #001089;
	border-width: 3px
}

.border_img img:hover {
	border-color: rgba(0,0,0,0);
}

.form_contact fieldset {
	width: auto;
	text-align: center;
	border: 3px groove black;
}
.form_contact fieldset input {
	width: 280px;
	height: 32px;
	color: #6b64ad;
	font-size: 18px;
	background: #F3F3F3;
	border-radius: 15px;
}
.form_contact fieldset textarea {
	width: 280px;
	height: 250px;
	color: #6b64ad;
	font-size: 18px;
	background: #F3F3F3;
	border-radius: 10px;
}

.form_contact input[type="text"]:focus, .form_contact textarea:focus {
	text-transform: capitalize;
}

#email:focus {
	color: #050f5f;
	background-color: #fffbda;
}

