.body {
	width: 100%;
	max-width: 1024px;
	min-width: 320px;
	margin: 0 auto;
	font-family: 'Scada', sans-serif;
	line-height: 0;
}

.body a {
	text-decoration: none;
}


@media screen and (min-width:0px) and (max-width:320px) {
/* Display 320px */
	.body {


		background: red;
	}

	.navigation {
		height: 37px;
		font-size: 12px;
	}

	.navigation .small {
		padding: 12px 10px 11px 19px;
		float: left;
	}

	.navigation .small_menu {
		padding: 13px 12px 10px 10px;
		float: right;
	}

	.navigation .small_menu img {
		width: 16px;
		height: 10px;
	}

	.navigation ul {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

}

@media screen and (min-width:321px) and (max-width:640px) {
 /*Display 640px */
	.body {


		background: green;
	}

	.navigation {
		height: 74px;
		font-size: 25px;
		font-weight: bold;
	}

	.navigation .small {
		padding: 25px 15px 20px 38px;
		float: left;
	}

	.navigation .small_menu {
		padding: 12px 12px;
		float: right;
	}
	
	.navigation .small_menu img {
		padding: 13px 12px 12px 10px;
		width: 31px;
		height: 20px;

	}

	.navigation ul {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01 img, .image_02 img, .image_03 img {
		width: 100%;
	}

}

@media screen and (min-width:641px) and (max-width:980px) {
 /*Display 980px */
	.body {


		background: blue;
	}

	.navigation {
		height: 97px;
	}

	.navigation .small, .navigation .small_menu {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.navigation ul {
		display: inline-block;
		padding: 0px 0px 0px 54px;
		vertical-align: middle;
	}

	.navigation ul li {
		padding: 3px 5px 3px 0px;
		display: inline-block;
		font-size: 15pt;
		text-transform: uppercase;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01, .image_03 {
		display: inline-block;
		width: 33%;
	}
	.image_02 {
		display: inline-block;
		width: 34%;
		vertical-align: top;
	}
	.image_01 img, .image_02 img, .image_03 img {
		/*display: inline-block;*/
		width: 100%;
	}

}

@media screen and (min-width:981px) {
 /*Display 1024px and later */
	.body {


		background: pink;
	}

	.navigation {
		height: 97px;
	}

	.navigation .small, .navigation .small_menu {
		position: absolute;
		max-width: 500px;
		margin: -1000px;
	}

	.navigation ul {
		display: inline-block;
		padding: 0px 0px 0px 54px;
		vertical-align: middle;
	}

	.navigation ul li {
		padding: 3px 5px 3px 0px;
		display: inline-block;
		font-size: 15pt;
		text-transform: uppercase;
	}

	.banner_01 img {
		width: 100%;
	}

	.banner_02 img {
		width: 100%;
	}

	.image_01, .image_03 {
		display: inline-block;
		width: 33%;
	}
	.image_02 {
		display: inline-block;
		width: 34%;
		vertical-align: top;
	}
	.image_01 img, .image_02 img, .image_03 img {
		/*display: inline-block;*/
		width: 100%;
	}

}


.navigation {
	display: inline-block;
	font-weight: bold;
	width: 100%;
	background: #373c3f;
	color: white;
	line-height: 0;
}

.navigation a {
	font-weight: bold;
	color: white;
	line-height: 0;
}

.navigation .nothing {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
	background: green;
}

.banner_01, .banner_01 {
	width: 100%;
}







/*body {
	font-size: 16px;
	background-color: #f8f8f8;

	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
p {
	text-align: justify;
	text-indent: 2em;
}
h1, h2, h3 {
	text-align: center;
}

.index header {
	height: 120px;
	margin: 0 auto;
}

header {
 background-image: url(image/header_fon_1.jpg);
}

header li:hover a {
	color: green;
}

header > img {
	display: inline-block;
	vertical-align: middle;
	border: 0px;
	margin-left: 15px;
	padding: 0px;
	width: 134px;
	height: 100px;
}


header ul {
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	text-align: right;
	max-width: 551px;
	vertical-align: middle;
}

.index header ul {
	width: 551px;
}

header li {
	padding: 3px 5px;
	display: inline-block;
}

header > li > a {
	font-style: italic;
	font-size: 17px;
	color: #070856;
}

footer {
	height: 50px;
	margin: 0 auto;
	padding: 3px 0px;
	text-align: center;
	background: #e3e3e3;
}

footer p {
	text-align: right;
	margin: 10px 20px 0px 0px;
}

.index footer, .index header {
	width: 700px;
}

.form_contact fieldset {
	width: auto;
	text-align: center;
	line-height: 48px;
}
.form_contact fieldset input {
	width: 300px;
	height: 32px;
	color: #6b64ad;
	font-size: 18px;
	background: #F3F3F3;
	border-radius: 15px;
}
.form_contact fieldset textarea {
	width: 350px;
	height: 250px;
	color: #6b64ad;
	font-size: 18px;
	background: #F3F3F3;
	border-radius: 10px;
}

.form_contact input[type="text"]:focus, .form_contact textarea:focus {
	text-transform: capitalize;
}

.chetire_a {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background: #eaeaea;
}
.chetire_b {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}
.chetire_c {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.chetire_d {
	list-style-image: url(image/strelka_right_1.gif);
	font-style: italic;
	line-height: 17px;
	color: #565f58;
}

.blocks_start > div{
	float: left;
	padding: 10px;
}
.blocks_end {
	clear: both;
}

.border_img img {
	border-style: groove;
	border-color: #001089;
	border-width: 3px

}

.border_img img:hover {
	border-width: 0px;
	margin: 3px;

}

.page_product p:first-letter {
	font: italic 1.5em  sans-serif;
}

.table_th, .table_th td {
	border: 1px solid black;
	vertical-align: center;
	text-align: center;
	border-collapse: collapse;
	margin: 0 auto;
	padding: 3px;
}

.table_th tr:first-child {
	height: 50;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.buy_ship > section {
	overflow: hidden;
	padding: 5px;
}

.buy_left, .buy_right {
	width: 150px;
	text-align: center;
}

.buy_left {
	float: left;
}

.buy_right {
	float: right;
}

.buy_right input[name='buy'] {
	width: 80px;
	height: 30px;
	border-radius: 5px;
}

.buy_right input[name='buy']:hover {
	background: #d0f3ce;
	border-radius: 7px;
}

.buy_right input[name='buy']:active {
	background: #8ee088;
	border-radius: 10px;
}

.page_product > h2 {
	clear: both;
}


#email:focus {
	color: #050f5f;
	background-color: #fffbda;
}

*/